<!DOCTYPE html>
<head>
    <title>about</title>
</head>
<body>
    <header>
		<%- include('../pages/header/aboutHeader'); %>
	</header>
    <main>
        <center>
            <h3>about</h3>
            <h5>Its a demo webpage</h5>
            <img src="https://previews.123rf.com/images/kurtcan/kurtcan1504/kurtcan150400399/39258053-3d-thank-you-text-on-white-background.jpg" width="256" height="125">
        </center>
    </main>
</body>
</html>