<!DOCTYPE html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        img{
            margin-bottom: 2em;
            margin-left: 1em;
            margin-right: 1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <img class="img-rounded" width="334" height="256" src="https://i.pinimg.com/originals/f8/b6/9e/f8b69e6156999b84137f3f0a23701b75.jpg" alt="flower">
		<img class="img-rounded" width="334" height="256" src="https://wallpapercave.com/wp/Xf6BAxQ.jpg" alt="nature">
		<img class="img-rounded" width="334" height="256" src="https://i.ytimg.com/vi/xwebkjZNaOg/maxresdefault.jpg" alt="nature">
		<img class="img-rounded" width="334" height="256" src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Desktop-hd-3d-nature-images-download.jpg" alt="nature">
        <img class="img-rounded" width="334" height="256" src="https://wallpapercave.com/wp/wp2590522.jpg" alt="nature">
        <img class="img-rounded" width="334" height="256" src="https://images.all-free-download.com/images/wallpapers_thum/rainbow_colorful_nature_6905.jpg" alt="nature">   </div>
</body>
</html>