<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<style type="text/css" media="screen">
		body {
			background-color: rgb(236, 78, 30);
			text-decoration-color: white;
			font-size:5em;
			text-align: center;
		}
	</style>
</head>
<body>
	<header>
		<%- include('../pages/header/mainHeader'); %>
	</header>
	<main>
		<%- include('../pages/image'); %>
	</main>
</body>
</html>					
